@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-spleen: "Spleen", monospace
}

@font-face {
  font-family: "Spleen";
  src: url("../../public/fonts/spleen-8x16.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spleen)
}

/* Shake animation when limit is reached. */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-4px); }
  20%, 40%, 60%, 80% { transform: translateX(4px); }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}